/*
  .monkee {
    @include clearfix;
  }
*/
/* # USAGE #
  .monkee {
    @include transition-custom(timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
  }
*/
/* # USAGE #
  .visuallyhidden {
    @include visuallyhidden;
  }
*/
/* # USAGE #
  .icon {
    @include pseudo-elements(before, 1.56em, .125em) {
      background: #333;
      top: .25em;
    }
  }
*/
/* Functions */
/* # Return a unitless number. */
/*
  # Convert Photoshop letter spacing to pixels. http://justinmarsan.com/css-letter-spacing-in-photoshop-and-browsers/
  @params(photoshop-letter-spacing, font-size-in-pixels)

  .foo {
    letter-spacing: letter-spacing-calc(25, 16);
  }
*/
/*
  # Convert px to em.
  @params(font-size-in-pixels, optional-em-base)

  .foo {
    margin-top: em-calc(42px);
  }
*/
.ui-border-t {
  border-top: 1px solid #cdcdcd; }

.ui-border-b {
  border-bottom: 1px solid #cdcdcd; }

.ui-border-tb {
  border-top: #cdcdcd 1px solid;
  border-bottom: #cdcdcd 1px solid;
  background-image: none; }

.ui-border-l {
  border-left: 1px solid #cdcdcd; }

.ui-border-r {
  border-right: 1px solid #cdcdcd; }

.ui-border {
  border: 1px solid #cdcdcd; }

.ui-border-radius {
  border: 1px solid #cdcdcd;
  border-radius: 4px; }

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-border-radius {
    position: relative;
    border: 0; }

  .ui-border-radius:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    border-radius: 8px;
    pointer-events: none; } }
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-border {
    position: relative;
    border: 0; }

  .ui-border-t, .ui-border-b, .ui-border-l, .ui-border-r, .ui-border-tb {
    border: 0; }

  .ui-border-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)); }

  .ui-border-b {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)); }

  .ui-border-t, .ui-border-b, .ui-border-tb {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px; }

  .ui-border-tb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)), -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd));
    background-position: top, bottom; }

  .ui-border-l {
    background-position: left top;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)); }

  .ui-border-r {
    background-position: right top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)); }

  .ui-border-l, .ui-border-r {
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%; }

  .ui-border:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)), -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)), -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd)), -webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #cdcdcd), to(#cdcdcd));
    -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
    background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
    -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
    background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
    background-repeat: no-repeat;
    background-position: top,right,bottom,left;
    padding: 1px;
    -webkit-box-sizing: border-box;
    z-index: 10;
    pointer-events: none; } }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  font-size: 0.24rem;
  margin: 0 auto;
  max-width: 480px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

img {
  max-width: 100% !important; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.btn {
  display: inline-block;
  border: 1px solid #ddd;
  font-size: .2rem;
  background-color: #eeeeee;
  padding: 1px .3rem 0;
  color: #525252;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem; }
  .btn:active {
    background-color: #ddd; }

.m-b {
  margin-bottom: 0.2rem; }

.m-t {
  margin-top: 0.2rem; }

.swiper-wrapper img {
  width: 100%;
  display: block; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>"); }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.slide-link {
  display: block;
  height: 3rem;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  height: .8rem;
  background-color: #404a54; }
  .header .header-left {
    position: absolute;
    left: 0;
    top: 0; }
    .header .header-left .header-logo {
      margin: .16rem 0 0 .22rem;
      display: inline-block;
      vertical-align: middle; }
      .header .header-left .header-logo img {
        width: 1.58rem; }
    .header .header-left .city-select {
      display: inline-block;
      margin-top: .15rem;
      margin-left: .2rem;
      font-size: .22rem;
      color: #c0a46e;
      vertical-align: middle; }
      .header .header-left .city-select i {
        font-size: .2rem; }
  .header .header-title {
    margin: 0 1.76rem;
    line-height: .8rem;
    text-align: center;
    height: .8rem;
    font-size: .3rem;
    font-weight: 400;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff; }
  .header .header-right {
    position: absolute;
    right: 0;
    top: 0; }
  .header .header-menu {
    display: block;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #ffffff; }
    .header .header-menu i {
      font-size: .4rem; }

.swiper-pagination-bullet {
  opacity: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff; }

.swiper-pagination-bullet-active {
  background-color: #ffffff; }

.index-slide .swiper-pagination {
  bottom: .1rem;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.change-list {
  list-style: none;
  background-color: #ffffff;
  padding: 0 .2rem; }
  .change-list li {
    padding: .16rem .1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .change-list li i {
      margin-right: .2rem;
      border: 1px solid #ddd;
      display: inline-block;
      background-color: #f9f8f8;
      height: .36rem;
      width: .36rem;
      text-align: center;
      line-height: .32rem;
      font-size: .2rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-style: normal; }
    .change-list li p {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .change-list li p a {
        font-size: .24rem;
        color: #333333;
        margin: 0 .1rem;
        white-space: nowrap; }

.no-mt {
  margin-top: 0; }

.modal-drop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.65);
  display: none; }

.modal-wrap {
  position: fixed;
  top: 2rem;
  left: 50%;
  margin-left: -3.3rem;
  width: 6.6rem;
  min-height: 5.4rem;
  border: .16rem solid #3d4852;
  background: #f2f2f2 url(../images/modal-bg.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  z-index: 11;
  display: none; }
  .modal-wrap .icon-closed {
    position: absolute;
    top: .15rem;
    right: .15rem;
    font-size: .26rem;
    line-height: 1;
    color: #686868; }
  .modal-wrap .hot {
    position: absolute;
    top: 0;
    left: 0;
    width: .82rem;
    height: .82rem;
    background: url(../images/modal-hot.png) 0 0 no-repeat;
    background-size: 100% 100%; }

.modal-panel .modal-panel-header {
  text-align: center;
  line-height: 1;
  padding-top: .58rem;
  padding-bottom: .45rem; }
  .modal-panel .modal-panel-header strong {
    font-size: .38rem;
    color: #3a454f;
    display: block;
    margin-bottom: .14rem; }
  .modal-panel .modal-panel-header small {
    display: block;
    font-size: .16rem;
    color: #9a9a9a;
    text-transform: uppercase; }
.modal-panel .modal-panel-body {
  padding: 0 .45rem .45rem; }
  .modal-panel .modal-panel-body .group {
    margin-bottom: .18rem;
    display: flex;
    align-items: center; }
    .modal-panel .modal-panel-body .group.row {
      margin-left: -.07rem;
      margin-right: -.07rem; }
      .modal-panel .modal-panel-body .group.row .cell {
        margin: 0 .07rem; }
      .modal-panel .modal-panel-body .group.row label {
        min-width: 1.4rem;
        white-space: nowrap;
        font-size: .24rem; }
        .modal-panel .modal-panel-body .group.row label.required:after {
          line-height: normal;
          content: '*';
          vertical-align: middle;
          color: #ff0000; }
    .modal-panel .modal-panel-body .group .cell {
      position: relative;
      flex: 1; }
      .modal-panel .modal-panel-body .group .cell:before {
        border-color: #9ca2a7;
        border-radius: 2px; }
      .modal-panel .modal-panel-body .group .cell.select:after {
        content: '';
        position: absolute;
        right: .2rem;
        top: .25rem;
        width: 0;
        height: 0;
        border-top: 6px solid #000;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent; }
      .modal-panel .modal-panel-body .group .cell .weui-input {
        height: .62rem;
        line-height: .62rem;
        font-size: .24rem;
        padding: 0 .26rem;
        background-color: #ffffff;
        border: 1px solid #9ca2a7; }
    .modal-panel .modal-panel-body .group .btn-primary {
      flex: 1;
      font-size: .28rem;
      color: #ffffff;
      height: .62rem;
      line-height: .62rem;
      border-radius: 2px;
      background-color: #ad9462;
      text-align: center; }
      .modal-panel .modal-panel-body .group .btn-primary:active {
        background-color: #a48d5d; }
  .modal-panel .modal-panel-body p {
    margin-top: .2rem;
    font-size: .18rem;
    color: #666666;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
